<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lisää velka</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Lisää Velka</h1>
	<div>
		<form th:object="${velka}" th:action="@{save}" action="#" method="post" sec:authorize="hasAuthority('ADMIN')">
			
			<label for="value">Velan määrä euroina:</label> <input type="text" id="value"
				th:field="*{value}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="info">Info</label> <input type="text" id="info"
				th:field="*{info}" />
			<input type="submit" value="Tallenna"></input>
		</form>
	</div>
</body>
</html>