<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Velkalista</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	 <div class="col-md-4">
		<h3 th:inline="text">Logged in as:
			[[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<h1>Kayttajan velat:</h1>
	<table style="width: 1%;" border="1" cellpadding="1">
		<tr>
			<th>Velka</th>
			<th>Info</th>
			
			<th sec:authorize="hasRole('ADMIN')"></th>
		</tr>
		<tr th:each="velka : ${velka}">
			<td th:text="${velka.value}"></td>
			<td th:text="${velka.info}"></td>
			<td sec:authorize="hasAuthority('ADMIN')">
			<a th:href="@{/delete/{id}(id=${velka.id})}"><input type="submit" value="Remove" /></a></td>
		</tr>
	</table>
	<a href="/add"><input type="submit" value="Lisaa velka" /></a>
	
  
</body>
</html>